atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .cursor {
    border-left: 2px solid @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}
