@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @base03;
@syntax-cursor-color: @base04;
@syntax-selection-color: lighten(@blue, 36%);
@syntax-selection-flash-color: @blue;
@syntax-background-color: @base00;

// Guide colors
@syntax-wrap-guide-color: darken(@base00, 22%);
@syntax-indent-guide-color: darken(@base00, 22%);
@syntax-invisible-character-color: darken(@base00, 22%);

// For find and replace markers
@syntax-result-marker-color: @base01;
@syntax-result-marker-color-selected: @blue;

// Gutter colors
@syntax-gutter-text-color: @base01;
@syntax-gutter-text-color-selected: @base03;
@syntax-gutter-background-color: @base00;
@syntax-gutter-background-color-selected: darken(@syntax-gutter-background-color, 7%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
